
body {
  margin: 0;
  padding: 0;
}

.tela-inicial {
  width: 100%;
  height: 100vh;
  background: blueviolet;
  text-align: center;
}

.logo {
  margin: 0px;
  width: 100%;
}

.botao {
  height: 50px;
  background: greenyellow;
  font-size: 20px;
  border: 2px solid yellow;
  margin-top: 50px;
  color: blue;
  padding: 10px 20px 10px 20px;

}

.tela-pergunta {
  width: 100%;
  height: 100vh;
  background: blueviolet;
  text-align: center;
  
}
.oi {
  width: 50%;
  margin-top: 50px;
  margin-bottom: 30px;
}
.fala {
  margin: 0 auto;
  background: aliceblue;
  width: 70%;
  font-size: 30px;
}
.botao-apertar {
  margin: 10px;
  background: white;
  padding: 10px 20px 10px 20px;
  font-size: 25px;
  border-radius: 100px;
}
.botao-apertar:active {
  background: greenyellow;
  padding: 12px 22px 12px 22px;
  font-size: 27px;
  border: solid 2px;
  
}
.vitoria {
  width: 100%;
  height: 100vh;
  background: green;
  text-align: center;
}
.parabens {
  width: 80%;
  margin-top: 50px;
}

.derrota {
  background: red;
  width: 100%;
  height: 100vh;
  text-align: center;
  margin: 0px;
}
.pena {
  margin-top: 20%;
  width: 30%;
}